#SQL Server system administrator (SA -- username can be changed) account inside Azure SQL Edge.
#this is an exmaple, the actual .env file IS NOT PUSHED - it contains passwords
SA_PASSWORD=
DB_NAME=
DB_HOST=
MQTT_BROKER=mosquitto
MQTT_TOPIC=solara/sensors